server:
  port: 8000

spring:
  application.name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: public-user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/v1/users/signup
                - Path=/api/v1/users/login
                - Path=/api/v1/users/token/validate
                - Path=/api/v1/users/refresh-token

            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/v1/users/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: userServiceBreaker
                    fallbackUri: forward:/fallback/users
                - name: JwtAuthenticationFilter


  data:
    redis:
      host: localhost
      port: 6379
