server:
  port: 8080


spring:
  application.name: coupon-service

  #  datasource:
  #    url: jdbc:h2:mem:coupondb
  #    driver-class-name: org.h2.Driver
  #    username: sa
  #    password:

  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/coupon
      username: coupon-user
      password: user1234!
      driver-class-name: com.mysql.cj.jdbc.Driver

      #connection pool
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000
      connection-test-query: SELECT 1


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#  h2:
#    console:
#      enabled: true
#      path: /h2-console

#  data:
#    redis:
#      host: localhost
#      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

management:
  server:
    port: 8080
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus #metrics 실서비스에서는 빼는걸로 보안문제
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 50ms,100ms,200ms