server:
  port: 8084

spring:
  application:
    name: time-sale-service

  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/timesale
      username: time-user
      password: time1234!
      driver-class-name: com.mysql.cj.jdbc.Driver
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000
      connection-test-query: SELECT 1

  # Redis ??
  data:
    redis:
      host: localhost
      port: 6379

  # ?? ??? ?? ?? ?? ??
  mvc:
    log-resolved-exception: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    tags:
      application: time-sale-service
    enable:
      redis: true
      kafka: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 50ms, 100ms, 200ms
